
<html>

<head>
<style type="text/css">
 @font-face { font-family: ff1; src: url(https://socdocumentsdemos.s3.amazonaws.com/steadfast/isp/f1.woff); }
.ff1 {
    font-family: ff1;
    font-style: normal;
    font-weight: normal;
    visibility: visible;
}
</style>
</head>
<body>
<p><br/></p>
<figure class="table" style="width:90.72%;">
    <table class="ck-table-resized">
            <colgroup>
                <col style="width:100%;">
            </colgroup>
            <tbody>
                <tr>
                    <td style="width:83pt; text-align:center;"><img alt="" src="https://socdocumentsdemos.s3.amazonaws.com/steadfast/isp/uaa.png"/></td>
                </tr>
                <tr>
                    <td style="text-align:center;width:83pt;">
                        <h1 class="ff1">Underwriting Agencies of Australia Pty. Ltd.</h1>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;"><span style="font-size:12px;">AFS Licence No. 238517  A.B.N. 86 003 565 302</span></td>
                </tr>
                <tr>
                    <td style="text-align:center;"><span style="font-size:12px;"><strong>NEWCASTLE OFFICE</strong>: Suites 1 &amp; 2, 766-770 Hunter Street, Newcastle West NSW 2300</span></td>
                </tr>
            </tbody>
        </table>
</figure>
<p>Broker name<br/></p>
<p>Broker address</p>
<p>August 20, 2024</p>
<p><br/></p>
<p>Dear Sir / Madam</p>
<p>Industrial Special Plant Insurance - Insured name</p>
<p><br/></p>
<p>Please find attached UAA's quotation as requested for the above mentioned client.</p>
<p><br/></p>
<figure class="table">
    <table>
        <tbody>
            <tr>
                <td style="width:83pt;"><strong>QUOTATION:</strong></td>
                <td style="width:157pt;">Premium</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">25,479.14</p>
                </td>
            </tr>
            <tr>
                <td style="width:83pt;"><br/></td>
                <td style="width:157pt;">Fire/SES Levy*</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">0.00</p>
                </td>
            </tr>
            <tr>
                <td style="width:83pt;"><br/></td>
                <td style="width:157pt;">U/W GST</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">2,547.92</p>
                </td>
            </tr>
            <tr>
                <td style="width:83pt;"><br/></td>
                <td style="width:157pt;">Stamp Duty</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">0.00</p>
                </td>
            </tr>
            <tr>
                <td style="width:83pt;"><br/></td>
                <td style="width:157pt;">UAA Fee</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">775.00</p>
                </td>
            </tr>
            <tr>
                <td style="width:83pt;"><br/></td>
                <td style="width:157pt;">UAA Fee GST</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">77.50</p>
                </td>
            </tr>
            <tr>
                <td style="width:83pt;"><br/></td>
                <td style="width:157pt;">Sub Total</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">28,879.56</p>
                </td>
            </tr>
            <tr>
                <td style="width:83pt;"><br/></td>
                <td style="width:157pt;">Broker Comm</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">2,547.91</p>
                </td>
            </tr>
            <tr>
                <td style="width:83pt;"><br/></td>
                <td style="width:157pt;">Broker Comm GST</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">254.79</p>
                </td>
            </tr>
            <tr>
                <td style="width:83pt;"><br/></td>
                <td style="width:157pt;">AMOUNT PAYABLE</td>
                <td style="width:98pt;">
                    <p style="text-align:right;">$26,076.86</p>
                </td>
            </tr>
        </tbody>
    </table>
</figure>
<h3>*Note: Fire Levy for risks in NSW contains the State Emergency Services contribution.</h3>
<p>This quotation will remain valid for 30 days from date of issue.</p>
<p>Refer to the UAA policy wording and following quotation schedule for full coverage, terms and conditions. The following policy extensions may be available to further protect your client's interest/assets:</p>
<ul>
    <li>Agreed Value (valuation required)</li>
    <li>Additional Damage Lifted Goods cover ($250,000 automatically included)</li>
    <li>Lease Payment Protection</li>
    <li>Lease Value Protection</li>
    <li>Owner's Protection Plus (Dry Hire)</li>
    <li>Hired Out Plant (Damage Waivers)</li>
    <li>Consequential Loss (Loss of Revenue &amp;/or Increased Cost of Working)</li>
    <li>Breakdown Cover</li>
</ul>
<p>Please contact our office should you require a quote to include any of these additional covers.</p>
<p>We look forward to your instructions to bind cover for your client, however, we would appreciate your feedback if our terms and conditions are not competitive within the current market.</p>
<p>Any further feedback that you could provide on our quote would be appreciated. Yours faithfully,</p>
<p><br/></p>
<p>NEWCASTLE BRANCH</p>
<p><br/></p>
<h1 style="text-align:center;">QUOTATION</h1>
<p><br/></p>
<figure class="table" style="width:65.31%;">
    <table class="ck-table-resized">
        <colgroup>
            <col style="width:53.52%;">
            <col style="width:46.48%;">
        </colgroup>
        <tbody>
            <tr>
                <td style="vertical-align:top;">
                    <p>BROKER NAME<br/></p>
                    <p>BROKER ADDRESS</p>
                </td>
                <td>
                    <p><strong>Memorandum:</strong></p>
                    <p><strong>Client Ref:</strong></p>
                    <p><strong>Invoice Number:</strong></p>
                    <p><strong>Date:</strong></p>
                    <p><strong>Policy Number:</strong></p>
                    <p><strong>Executive:</strong></p>
                </td>
            </tr>
        </tbody>
    </table>
</figure>
<p><br/></p>
<figure class="table" style="float:left;width:98.05%;">
    <table class="ck-table-resized">
        <colgroup>
            <col style="width:51.01%;">
            <col style="width:48.99%;">
        </colgroup>
        <tbody>
            <tr>
                <td style="vertical-align:top;">
                    <p><strong>INSURER:</strong></p>
                    <p><strong>INSURED:</strong></p>
                    <p><strong>PERIOD:</strong></p>
                    <p><strong>CLASS:</strong></p>
                </td>
                <td>
                    <figure class="table" style="width:98.58%;">
                        <table class="ck-table-resized">
                            <colgroup>
                                <col style="width:36.07%;">
                                <col style="width:63.93%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Premium</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>Fire/SES Levy*</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>W GST</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>Stamp Duty<br/></td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>UAA Fee</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>UAA Fee GST</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td><br/></td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td><strong>Sub Total</strong></td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>Broker Comm</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>Broker Comm GST</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td><br/></td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td><strong>AMMOUNT PAYABLE</strong></td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Note* </strong>Fire Levy for risks in NSW contains theState Emergency Services contribution.</td>
                                </tr>
                            </tbody>
                        </table>
                    </figure>
                </td>
            </tr>
        </tbody>
    </table>
</figure>
<p><br/></p>
<p><br/></p>
<p><br/></p>
<h2><br/></h2>
<h2><br/></h2>
<p><br/></p>
<h2><br/></h2>
<h2><br/></h2>
<h2><br/></h2>
<h2><br/></h2>
<p><strong>PARTICULARS:</strong></p>
<p><br/></p>
<p>=======================================================================<br/></p>
<p>INDUSTRIAL SPECIAL PLANT</p>
<p>=======================================================================</p>
<figure class="table" style="float:left;width:55.21%;">
    <table class="ck-table-resized">
        <colgroup>
            <col style="width:39.94%;">
            <col style="width:60.06%;">
        </colgroup>
        <tbody>
            <tr>
                <td>Period of Insurance :<br/></td>
                <td>28/08/2024 to 28/08/2025<br/></td>
            </tr>
            <tr>
                <td>Insured :<br/></td>
                <td>Insured name</td>
            </tr>
            <tr>
                <td>Business Description :<br/></td>
                <td>AS PER POLICY SCHEDULE</td>
            </tr>
            <tr>
                <td colspan="2">
                    <p>Territorial Limits</p>
                    <ul>
                        <li>Section 1 to 6 : Anywhere in Australia</li>
                        <li>Section 7 : Worldwide excluding North America</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</figure>
<p><br/></p>
<p><br/></p>
<p>=======================================================================<br/></p>
<p>INSURER</p>
<p>=======================================================================</p>
<p>QBE Insurance (Australia) Limited ABN 78 003 191 035</p>
<p>AFS Licence No. 239545</p>
<p><br/></p>
<p>=======================================================================</p>
<p>Section 1 - Damage</p>
<p>=======================================================================</p>
<figure class="table" style="float:left;width:55.21%;">
    <table class="ck-table-resized">
        <colgroup>
            <col style="width:39.94%;">
            <col style="width:60.06%;">
        </colgroup>
        <tbody>
            <tr>
                <td>Sum Insured :<br/></td>
                <td>$1,163,725</td>
            </tr>
            <tr>
                <td>Limit Any One Loss :<br/></td>
                <td>$1,163,725</td>
            </tr>
            <tr>
                <td>Excess % of sum insured :<br/></td>
                <td>1% Minimum excess (whichever greater) : $1,000</td>
            </tr>
        </tbody>
    </table>
</figure>
<p><br/></p>
<p>=======================================================================</p>
<p>ITEMS COVERED BY THIS SECTION 1,2,3,4,5,6,7,8,9,10,11,12,13,14</p>
<p>=======================================================================</p>
<p><br/></p>
<p>=======================================================================</p>
<p>Section 3 - Additional Benefits</p>
<p>=======================================================================</p>
<p><br/></p>
<figure class="table" style="float:left;width:58.66%;">
    <table class="ck-table-resized">
        <colgroup>
            <col style="width:32.36%;">
            <col style="width:17.25%;">
            <col style="width:18.66%;">
            <col style="width:17.68%;">
            <col style="width:14.05%;">
        </colgroup>
        <tbody>
            <tr>
                <td>Additional Benefits</td>
                <td colspan="2">Section 1 - Damages</td>
                <td colspan="2">Section 2 - Hired Plant</td>
            </tr>
            <tr>
                <td>1. Damage Lifted Goods</td>
                <td>Sum Insured</td>
                <td>Excess</td>
                <td>Sum Insured</td>
                <td>Excess</td>
            </tr>
            <tr>
                <td>3. Expediting Costs</td>
                <td>$250,000</td>
                <td>$1,000</td>
                <td><br/></td>
                <td><br/></td>
            </tr>
            <tr>
                <td>4. Rec/Cost (No Damage)</td>
                <td>$250,000</td>
                <td><br/></td>
                <td><br/></td>
                <td><br/></td>
            </tr>
            <tr>
                <td>5. Rec/Cost (Damage)</td>
                <td>$250,000</td>
                <td>$1,000</td>
                <td><br/></td>
                <td><br/></td>
            </tr>
            <tr>
                <td>12.Owners Protection</td>
                <td>Included</td>
                <td><br/></td>
                <td>Not included</td>
                <td><br/></td>
            </tr>
            <tr>
                <td>19.Add/Del Machines :</td>
                <td>$250,000</td>
                <td><br/></td>
                <td><br/></td>
                <td><br/></td>
            </tr>
        </tbody>
    </table>
</figure>
<p><br/></p>
<p>Damage Limit Any One Loss : $880,000</p>
<figure class="table" style="float:left;width:62.19%;">
    <table class="ck-table-resized">
        <colgroup>
            <col style="width:30.49%;">
            <col style="width:16.26%;">
            <col style="width:17.58%;">
            <col style="width:16.66%;">
            <col style="width:19.01%;">
        </colgroup>
        <tbody>
            <tr>
                <td>Optional Additional Benefits</td>
                <td colspan="2">Section 1 - Damages</td>
                <td colspan="2">Section 2 - Hired Plant</td>
            </tr>
            <tr>
                <td><br/></td>
                <td>Sum Insured</td>
                <td>Excess</td>
                <td>Sum Insured</td>
                <td>Excess</td>
            </tr>
            <tr>
                <td>21.Owners Protection Plus</td>
                <td>Not Included</td>
                <td>Not Included</td>
                <td>Not Included</td>
                <td>Not Included</td>
            </tr>
            <tr>
                <td>22.Hired Out Plant (Damage Waivers)</td>
                <td>Not Included</td>
                <td>Not Included</td>
                <td>Not Included</td>
                <td>Not Included</td>
            </tr>
        </tbody>
    </table>
</figure>
<p><br/></p>
<p>------------------------------------------------------------------------------------------------------------------------------------------------</p>
<p>Clauses Applicable:</p>
<p><br/></p>
<figure class="table" style="float:left;width:60.47%;">
    <table class="ck-table-resized">
        <colgroup>
            <col style="width:100%;">
        </colgroup>
        <tbody>
            <tr>
                <td>
                    <ol>
                        <li>
                            <p>POL POL - POLICY WORDING VERSION</p>
                            <p>POL - Policy Wording Version</p>
                            <p>Policy Wording Applicable QM2003 - 1123</p>
                            <p>AIN AMENDED INSURED NAME</p>
                            <p>Amended Named Insured</p>
                            <p>It is hereby noted and agreed that the name insured is amended to read as;</p>
                            <p>Insured name</p>
                            <p>BDC BDC - BUSINESS DESCRIPTION</p>
                            <p>BDC - Business Description</p>
                            <p>Business activities are described as;</p>
                            <p>EARTHMOVING &amp; EXCAVATION, ROAD MAINTENANCE &amp; REPAIR, FIRE TRAIL<br/></p>
                            <p>MAINTENANCE, DRAINAGE SOLUTIONS INCLUDING PIPE INSTALLATION<br/></p>
                            <p>CLEANOUTS AND REMOVAL OF DEBRIS</p>
                            <p><br/></p>
                            <p>EXV EXCESS VARIATION</p>
                            <p>EXV - EXCESS VARIATION</p>
                            <p><br/></p>
                            <p>Minimum excess for Cranes, Concrete Pumps, Aerial Access,</p>
                            <p>Drill Rigs, Trucks and Prime Movers is 1% of</p>
                            <p>the sum insured or $2,500 whichever is the greater.</p>
                            <p><br/></p>
                            <p>GED GED- GENERAL EXCLUSIONS SECTION 1-5</p>
                            <p>GED- General Exclusions Section 1-5</p>
                            <p><br/></p>
                            <p>Policy Endorsement - D. General Exclusions for Sections 1 to 5<br/></p>
                            <p>Exclusion D.1.(d) and clause D.1.(h)(iii)(J) shall not apply to t</p>
                            <p>his policy and are removed in their entirety.</p>
                            <p><br/></p>
                            <p>MAB MAB - MOTOR VEHICLE ADD BENEFITS</p>
                            <p>MAB - Motor Vehicle Add Benefits</p>
                            <p><br/></p>
                            <p>Additional Benefits applicable to Section 1 - Damage:-</p>
                            <p>The following additional benefits apply to a Road Vehicle that<br/></p>
                            <p>is a sedan, station wagon, panel van, utility, 4x4, minibus with<br/></p>
                            <p>a carrying capacity of not greater than 15 persons or goods<br/></p>
                            <p>carrying with a gross vehicle mass not exceeding 4,500 kilograms<br/></p>
                            <p>insured under Section 1 - Damage only.</p>
                            <p><br/></p>
                            <p>1. Trailer Cover</p>
                            <ol>
                                <li>
                                    <p>The Insurer will cover Damage to any trailer with a gross<br/></p>
                                    <p>vehicle mass of less than 2,000 kilograms (other than a<br/></p>
                                    <p>caravan) which is owned by the Insured while it is:</p>
                                    <ol>
                                        <li>attached to the insured Motor Vehicle, or</li>
                                        <li>
                                            <p>detached from the insured Motor Vehicle but within the<br/></p>
                                            <p>Insured's Business premises or the domestic land<br/></p>
                                            <p>boundaries of the Insured's usual home address as long as<br/></p>
                                            <p>it was not in a common area of home units, flats and the like.</p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <p>The Insurer will not pay for any property in or on the<br/></p>
                                    <p>trailer.</p>
                                </li>
                                <li>
                                    <p>The maximum amount the Insurer will pay under this additional<br/></p>
                                    <p>benefit is the Market Value of the trailer or $1,000<br/></p>
                                    <p>whichever is the lesser.</p>
                                    <p><br/></p>
                                </li>
                            </ol>
                            <p>2. Lease, Hire Purchase or Financial Agreement Payout</p>
                            <ol>
                                <li>
                                    <p>Where the Insured's Motor Vehicle is declared a Total Loss,<br/></p>
                                    <p>and the Motor Vehicle is subject to a lease, hire purchase<br/></p>
                                    <p>or any financial agreement through a financial institution<br/></p>
                                    <p>directly related to financing of the Motor Vehicle purchase,</p>
                                    <p>and the payout figure exceeds the Total Loss amount:</p>
                                    <ol style="list-style-type:lower-roman;">
                                        <li>
                                            <p style="text-align:justify;">The Insurer will pay:</p>
                                            <p style="text-align:justify;">- the Total Loss amount of the Motor Vehicle, plus</p>
                                            <p style="text-align:justify;">- an additional amount of up to 25% of the Total Loss amount;-</p>
                                        </li>
                                        <li>
                                            <p style="text-align:justify;">Provided</p>
                                            <p style="text-align:justify;">- this amount and the Total Loss amount do not exceed<br/></p>
                                            <p style="text-align:justify;"><br/> <br/>the financial institution payout figure</p>
                                            <p style="text-align:justify;">- that any payment over the Total Loss amount does not<br/></p>
                                            <p style="text-align:justify;"><br/> <br/>include any payments that are in arrears at the time time<br/></p>
                                            <p style="text-align:justify;"><br/> <br/>of Damage occurring.</p>
                                            <p style="text-align:justify;">- that any additional payment over and above the<br/></p>
                                            <p style="text-align:justify;"><br/> Total Loss amount will include any discounts</p>
                                            <p style="text-align:justify;"><br/> applicable for full payment of the financial contract.</p>
                                        </li>
                                    </ol>
                                </li>
                                <li>
                                    <p style="text-align:justify;">for the purpose of this additional benefit a Motor Vehicle will be declared a "Total Loss" if:</p>
                                    <ol>
                                        <li>the cost to repair the insured Motor Vehicle plus the value of any salvage (if applicable) exceeds the Market Value, or</li>
                                        <li>the Motor Vehicle is stolen and not recovered within a reasonable period of time as determined by the Insurer.</li>
                                    </ol>
                                </li>
                                <li>
                                    <p>The Insurer will settle the claim on the basis of Market Value or the Sum Insured whichever is the lesser or agreed value depending on the cover stated on the Schedule.</p>
                                    <p><br/></p>
                                </li>
                            </ol>
                            <p>3.Tyre Replacement</p>
                            <p><br/></p>
                            <ol>
                                <li>If the Insurer provides indemnity in respect to an event of Damage under this policy which necessitates repairs to the insured Motor Vehicle and any tyre cannot be used as a direct result of the damage sustained from that event, the Insurer will allow for the new replacement cost of a similar make and specification.</li>
                            </ol>
                            <p><br/></p>
                            <ol>
                                <li>This additional benefit is applicable provided that the condition of the damaged tyre's remaining tread conforms with legal requirements at the time of Damage and it was not a recapped or retread tyre.</li>
                            </ol>
                            <p><br/></p>
                            <p>4. Choice of Repairer</p>
                            <p>The Insured may choose any licensed repairer to repair the insured Motor Vehicle. However the Insurer may invite, accept, adjust or decline estimates or arrange to move the Motor Vehicle to another repairer acceptable to both parties.</p>
                            <p><br/></p>
                            <p>5. Repatriation of Driver</p>
                            <p>If the insured Motor Vehicle suffers Damage and the Insurer agrees to indemnify the Insured for this Damage, the Insurer will allow for the reasonable costs of overnight accommodation and returning an Insured driver to the point of departure or at the Insured's option to the drivers' destination, provided:-</p>
                            <ol>
                                <li>
                                    <p>the insured Motor Vehicle was more than 150 kilometres</p>
                                    <p>from its normal parked address or point of departure at the time of the Damage, and</p>
                                </li>
                                <li>the Motor Vehicle was being used in connection with the Insured's Business, and</li>
                                <li>the costs involved do not relate to emergency medical transportation, and</li>
                                <li>
                                    <p>the Insured had not intended to pay for overnight accommodation in any event,</p>
                                    <p>the Insurer will allow an amount of up to a maximum of $5,000 for this additional benefit.</p>
                                    <p><br/></p>
                                </li>
                            </ol>
                        </li>
                    </ol>
                    <p><br/> Excesses:-</p>
                    <p><br/><br/></p>
                    <p><br/> 6. Additional Excess:- Age or Inexperienced Driver</p>
                    <p><br/> In addition to the Excess shown in the Schedule the Insured will</p>
                    <p><br/> have to contribute an age or inexperienced driver excess if an event of Damage occurs and if at the time the insured Motor Vehicle was being driven by a person <br/> who:</p>
                    <p style="margin-left:40px;"><br/></p>
                    <ol style="list-style-type:lower-latin;">
                        <li>
                            <p>is aged 20 years or younger, then an additional excess of</p>
                            <p>$700 applies, or</p>
                        </li>
                        <li>is aged 20 but under the age of 22, then an additional excess of $500 applies, or:</li>
                        <li>is aged 22 but under the age of 25, then an additional excess of $300 applies, or</li>
                        <li>
                            <p>is aged 25 or more but has not held an Australian driver's licence for two or more years for sedans, wagons, utilities and goods carrying a capacity less than 4,500 kilograms, then an additional excess of $700 applies.</p>
                            <p><br/></p>
                        </li>
                    </ol>
                    <p>7. Learner Driver Excess</p>
                    <p><br/> <br/> <br/>If at the time of Damage to the insured Motor Vehicle a licensed<br/></p>
                    <p><br/> <br/> <br/>learner driver was in control of the Motor Vehicle the Excesses<br/></p>
                    <p><br/> <br/> <br/>that will apply are those that would have applied to the licensed passenger who is instructing the learner.</p>
                    <ol style="list-style-type:lower-latin;">
                        <li>Windscreen Protection<ol>
                                <li>the Insured will NOT have to contribute any Excess towards a "broken" windscreen or window glass claim, provided there is no other Damage to the insured Motor Vehicle. This additional benefit only applies to the first "broken" windscreen or window glass claim in any one Period of Insurance.</li>
                                <li>the Insurer will not apply a Premium loading for the first broken windscreen or window glass only claim in any one Period of insurance.</li>
                                <li>for the purpose of this additional benefit "broken" shall mean a fracture that extends through the entire thickness of the glass or where the windscreen is laminated, a fracture extending through all layers of the lamination, or where the damage is sufficient to prevent registration by the appropriate authorities.</li>
                            </ol>
                        </li>
                        <li>
                            <p>TIP ADDITIONAL EXCESS:- TIPPING ADDITIONAL EXCESS:- TIPPING</p>
                            <p>If the insured Machine is a road registered rigid body tipper or tipping trailer and is involved in an event that causes Damage to that insured Machine and the tipping hoist is partially or fully extended, then the Excess as stated in the Schedule, for that Machine shall be increased by 100%.</p>
                            <p><br/></p>
                            <p>USP EXCESS VARIATIONS - SEDANS / WAGONS</p>
                            <p>USP - Excess Variations - Sedans / Wagons / Utilities</p>
                            <p>This Endorsement shall apply to road registered sedans (other than Prestige Vehicles), wagons (other than Prestige Vehicles),motorcycles, Utilities or goods carrying vehicles with a carrying capacity less than 2 tonne. The minimum Excess as shown above shall not apply. The minimum Excess for these items is $1000 . Any additional Age or Inexperienced Driver Excess shall also apply (if shown in Schedule)</p>
                            <p>Excess Variation - Prestige Vehicles.</p>
                            <p>This endorsement shall apply to road registered Prestige Vehicles. The minimum Excess as shown above shall not apply. The minimum Excess for these items is $1250 (unless otherwise stated in the Schedule).</p>
                            <p>Definition: For the purpose of this Endorsement a Prestige Vehicle is any road registered sedan or wagon that has a</p>
                            <p>Sum Insured greater than $100,000.</p>
                            <p><br/></p>
                            <p>Any additional Age or Inexperienced Driver Excess shall also apply (if shown in the Schedule)</p>
                            <p>=======================================================================</p>
                            <p>Section 6 - Road Risk</p>
                            <p>=======================================================================</p>
                            <p>Sum Insured : $30,000,000</p>
                            <p>Excess : $1,000</p>
                            <p><br/></p>
                            <p><br/></p>
                            <p>Dangerous Goods Limit : $1,000,000 ITEMS COVERED BY THIS SECTION 2,3,4,5,6,8,9,10,12,14</p>
                            <p><br/></p>
                            <p><br/></p>
                            <p>Clauses Applicable:</p>
                            <p>AGX AGX- ADD EXCESS:AGE OR INEXPERIENCE</p>
                            <p>AGX- Add Excess: Age Or Inexperience</p>
                            <p>This endorsement applies to a Road Vehicle that is a sedan, station wagon, panel van, utility, 4x4, minibus with a carrying capacity of not greater than 15 persons or goods carrying</p>
                            <p>with a gross vehicle mass not exceeding 4,500 kilograms.</p>
                            <p>In addition to the Excess shown in the Schedule the Insured will have to contribute an age or inexperienced driver excess if an event of Damage occurs and if at the time the insured Motor Vehicle was being driven by a person who:</p>
                            <ol>
                                <li>
                                    <p>is aged 20 years or younger, then an additional excess of</p>
                                    <p>$700 applies, or</p>
                                </li>
                                <li>is aged 20 but under the age of 22, then an additional excess of $500 applies, or:</li>
                                <li>is aged 22 but under the age of 25, then an additional excess of $300 applies, or</li>
                                <li>is aged 25 or more but has not held an Australian driver's licence for two or more years for sedans, wagons, utilities and goods carrying a capacity less than 4,500 kilograms, then an additional excess of $700 applies.</li>
                            </ol>
                            <p>EXR EXR - EXCESS ROAD RISK EXR - EXCESS ROAD RISK</p>
                            <p>Excess for Cranes, Concrete Pumps, Aerial Access, Drill Rigs, Trucks and Prime Movers is $2,500.</p>
                            <p>TIP ADDITIONAL EXCESS:- TIPPING ADDITIONAL EXCESS:- TIPPING</p>
                            <p>If the insured Machine is a road registered rigid body tipper or tipping trailer and is involved in an event that causes Damage to that insured Machine and the tipping hoist is partially or fully extended, then the Excess as stated in the Schedule, for that Machine shall be increased by 100%.</p>
                            <p><br/></p>
                            <p>USP EXCESS VARIATIONS - SEDANS /</p>
                            <p>USP - Excess Variations - Sedans / Wagons / Utilities</p>
                            <p>This Endorsement shall apply to road registered sedans (other than Prestige Vehicles), wagons (other than Prestige Vehicles),motorcycles, Utilities or goods carrying vehicles with a carrying capacity less than 2 tonne. The minimum</p>
                            <p><br/></p>
                            <p>Excess as shown above shall not apply. The minimum Excess for these items is $1000 . Any additional Age or Inexperienced Driver Excess shall also apply (if shown in Schedule)</p>
                            <p>Excess Variation - Prestige Vehicles.</p>
                            <p>This endorsement shall apply to road registered Prestige Vehicles. The minimum Excess as shown above shall not apply. The minimum Excess for these items is $1250 (unless otherwise stated in the Schedule).</p>
                            <p>Definition: For the purpose of this Endorsement a Prestige Vehicle is any road registered sedan or wagon that has a</p>
                            <p>Sum Insured greater than $100,000.</p>
                            <p>Any additional Age or Inexperienced Driver Excess shall also apply (if shown in the Schedule)</p>
                            <p>=======================================================================</p>
                            <p>Section 7 - Broadform Liability</p>
                            <p>=======================================================================</p>
                            <p><br/></p>
                            <figure class="table" style="float:left;width:97.33%;">
                                <table class="ck-table-resized">
                                    <colgroup>
                                        <col style="width:51.66%;">
                                        <col style="width:48.34%;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td>Sum Insured (Public Liability) :<br/></td>
                                            <td>
                                                <p>$20,000,000</p>
                                                <p>any one Occurrence</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><br/>Sum Insured (Products Liability) :</td>
                                            <td>
                                                <p>$20,000,000</p>
                                                <p>any one Occurrence</p>
                                                <p>any one Occurrence and in the aggregate any one Period of Insurance</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Property In Your Physical</p>
                                                <p>or Legal Control :<br/></p>
                                            </td>
                                            <td>$250,000</td>
                                        </tr>
                                        <tr>
                                            <td>Excess :</td>
                                            <td>$1,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </figure>
                            <p><br/></p>
                            <p>--------------------------------------------------------------------------------------------------------------------------</p>
                            <p>Clauses Applicable:</p>
                            <p>AIN AMENDED INSURED NAME</p>
                            <p>Amended Named Insured</p>
                            <p>It is hereby noted and agreed that the name insured is amended to read as;</p>
                            <p>Insured name</p>
                            <p><br/></p>
                            <p>BDE BLASTING EXCLUSION BLASTING EXCLUSION</p>
                            <p>The Insurer shall not indemnify the Insured against Legal Liability for Personal Injury or Property Damage caused directly or indirectly by, arising from or in connection with:</p>
                            <ol>
                                <li>blasting;</li>
                                <li>the use, detonation, storage, handling or transportation of explosives.</li>
                            </ol>
                            <p><br/></p>
                            <p>CSX EXCESS FOR PERSONAL INJURY</p>
                            <p>EXCESS FOR PERSONAL INJURY TO CONTRACTORS OR SUB CONTRACTORS</p>
                            <p>The Excess shall be $25000 for all indemnity per Occurrence in connection with Personal Injury to:</p>
                            <p>1.a contractor or sub-contractor of an Insured;</p>
                            <p><br/></p>
                        </li>
                        <li>all tiers of contractors and sub-contractors below a contractor or sub-contractor of an Insured;</li>
                        <li>a director, executive officer, partner or employee of a person or company referred to in (1) and (2) above;</li>
                    </ol>
                    <p>where the Personal Injury occurred in the course of such person performing the work under a contract or sub-contract.</p>
                    <p><br/></p>
                    <p>EME EARTHMOVING,EXCAVATION,CONSTRUCTION</p>
                    <ol>
                        <li>Underground Services (pipes and cables) cover<ol>
                                <li>Where Property Damage is caused to any Underground Service by earthmoving, excavation, drilling, digging or other similar work carried out by the Insured, the Insurer shall not indemnify the Insured against Legal Liability for that Property Damage unless the Insured proves that, prior to commencing the work, the Insured:<ol>
                                        <li>
                                            <p>applied to a recognised "Dial Before you Dig" service and all relevant public entities for and obtained plans, diagrams, written notice or instructions disclosing the existence and location of all Underground Services in the vicinity of the work.</p>
                                            <p>However, this condition shall not apply where the Insured proves to the Insurer's satisfaction that owing to the conduct of an Employee, who at the time that Property Damage occurred was:</p>
                                            <ol>
                                                <li>not a director or partner of an Insured; and</li>
                                                <li>acting outside the knowledge and practices of the Insured; and</li>
                                                <li>
                                                    <p>not influenced by an owner of the Machine, an Insured, or a director or partner of an Insured.</p>
                                                    <p>In such cases an Excess of $5,000 will apply in addition to the Excess shown in the Schedule for each and every claim.</p>
                                                </li>
                                            </ol>
                                        </li>
                                    </ol>
                                </li>
                                <li>Underground Service means any underground service, including but not limited to pipes, cables, wires and any tunnels, drains, shafts, wells or other underground structures associated with an Underground Service.</li>
                            </ol>
                        </li>
                        <li>
                            <p>Underpinning Exclusion</p>
                            <p>The Insurer shall not indemnify the Insured against Legal Liability for Personal Injury or Property Damage caused directly or indirectly by, arising from or in connection with any underpinning activities.</p>
                        </li>
                        <li>
                            <p>Demolition Exclusion</p>
                            <p>The Insurer shall not indemnify the Insured against Legal Liability for Personal Injury or Property Damage caused directly or indirectly by, arising from or in connection with the demolition of any building or structure more than 10 metres high.</p>
                        </li>
                        <li>
                            <p>Building works Exclusion</p>
                            <p>The Insurer shall not indemnify the Insured against Legal Liability for Personal Injury or Property Damage caused directly or indirectly by, arising from or in connection with the erection or</p>
                            <p>construction of any building or structure more than 10 metres high.</p>
                            <p>LHX LABOUR HIRE ENDORSEMENT</p>
                            <p>Labour Hire Endorsement</p>
                            <p><br/></p>
                            <p>Notwithstanding Exclusion E.1 (a) (1), the Insurer shall indemnify the Insured against Legal Liability for Personal Injury to:</p>
                            <ol>
                                <li>labour hire personnel engaged by an Insured</li>
                            </ol>
                        </li>
                    </ol>
                    <p>where such Personal Injury occurred in the course of such person performing work under a labour hire agreement or contract to an Insured and shall be subject to an Excess of $25000 for all indemnity per Occurrence.</p>
                    <p><br/></p>
                    <p>WHE WELDING/HOTWORK EXCLUSION WELDING/HOTWORK EXCLUSION</p>
                    <p>The Insurer shall not indemnify the Insured against Legal Liability for Personal Injury or Property Damage caused directly or indirectly by, arising from or in connection with hotwork (including but not limited to welding, grinding, cutting or any allied process) carried out by or on behalf of the Insured not in full compliance with Australian Standard 1674 (Safety and Welding and Allied Processes) or its equivalent.</p>
                    <p><br/></p>
                    <p>=======================================================================</p>
                    <p>Master Schedule of Machines</p>
                    <p>=======================================================================</p>
                    <figure class="table" style="float:left;width:96.78%;">
                        <table class="ck-table-resized">
                            <colgroup>
                                <col style="width:48.56%;">
                                <col style="width:51.44%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>Item Number:</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>Make:</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>Year:</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>Eng/Serial Number:</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>Cover Basis</td>
                                    <td><br/></td>
                                </tr>
                                <tr>
                                    <td>Attachment Details</td>
                                    <td><br/></td>
                                </tr>
                            </tbody>
                        </table>
                    </figure>
                    <p><br/></p>
                </td>
            </tr>
        </tbody>
    </table>
</figure>
<p><br/></p>
</body>

</html>